{% extends 'admin/dashboard.html' %} {% block content %}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Brands</h2>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form action="{% url 'brandlist' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Brand name</label>
                            <input type="text" placeholder="Type here" class="form-control" name="brand_name" id="product_name" required/>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Category</label>
                            <select class="form-select dependent-drop" name="category" data-action="brandcategory">
                                <option></option>
                                        {% for category in category_data %}
                                        <option> {{ category.category_name }} </option>
                                        {% endfor %}
                                   </select>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">sub Category</label>
                            <select class="form-select " name="sub_category" id="dependend-subcategory">
                                   
                                   </select>
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Slug</label>
                            <input type="text" placeholder="Type here" class="form-control" name="brand_uid" id="product_slug" required/>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary">Create Brand</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-8 ">
                    <div class="col-search" style="padding-bottom: 30px;">
                        <form class="searchform">
                            <div class="input-group">
                                <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                                <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i> </button>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                               
                                <th>Brand</th>
                                <th>Category</th>
                                <th>Sub-category</th>
                                <th>Slug</th>
                                <th class="text-end ">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for brand in brand_data %}
                            <tr>
                               
                                <td>{{ brand.brand_name}}</td>
                                <td>{{ brand.category_name.category_name}}</td>
                                <td>{{ brand.sub_category_name.sub_category_name}}</td>
                                <td>{{ brand.slug }}</td>
                                <td class="text-end">
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i class="material-icons md-more_horiz"></i> </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'brand_edit' brand.pk %}">Edit</a>
                                            <a class="dropdown-item text-danger" href="{% url 'brand_delete' brand.pk %}" onclick="return confirm('Are you want to delete ?')">Delete</a>
                                        </div>
                                    </div>
                                    <!-- dropdown //end -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <!-- .col// -->
            </div>
            <!-- .row // -->
        </div>
        <!-- card body .// -->
    </div>
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">{{ message }}</div>
    {% elif message.tags == "error" %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %} {% endfor %} {% endif %}
    <!-- card .// -->
</section>
<!-- content-main end// -->
{% endblock %}