{% extends 'admin/dashboard.html' %} {% block content %}
<section class="content-main" style="max-width: 720px">

    <div class="content-header justify-content-center">
        <h2 class="content-title">Create product </h2>
        <!-- <div>
			<a href="#" class="btn btn-outline-danger"> &times; Discard</a>
		</div> -->
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <form action="{% url 'product_edit' data.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="product_name" class="form-label">Product title</label>
                    <input type="text" placeholder="Type here" class="form-control" name="product_name" value="{{data.product_name}}" required id="product_name">
                </div>

                <div class="mb-4">
                    <label class="form-label">Full description</label>
                    <textarea placeholder="Type here" class="form-control" name="product_desc" required rows="4">{{data.description}}</textarea>
                </div>
                <div class="row gx-2">
                    <div class="mb-4 col-sm-6">
                        <label class="form-label">Images</label>
                        <input class="form-control" onchange="readURL(this,'image1');" type="file" accept="image/*" id="file-upload" name="images1">
                        <img id="myimage1" src="{{data.image1.url}}" style="width: 50px;height: 50px;">
                    </div>
                    <div class="mb-4  col-sm-6">
                        <label class="form-label">Images</label>
                        <input class="form-control" onchange="readURL(this,'image2');" type="file" accept="image/*" id="file-upload" name="images2">
                        <img id="myimage2" src="{{data.image2.url}}" style="width: 50px;height: 50px;">
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="mb-4 col-sm-6">
                        <label class="form-label">Images</label>
                        <input class="form-control" onchange="readURL(this,'image3');" type="file" accept="image/*" id="file-upload" name="images3">
                        <img id="myimage3" src="{{data.image3.url}}" style="width: 50px;height: 50px;">
                    </div>
                    <div class="mb-4  col-sm-6">
                        <label class="form-label">Images</label>
                        <input class="form-control" onchange="readURL(this,'image4');" type="file" accept="image/*" id="file-upload" name="images4">
                        <img id="myimage4" src="{{data.image4.url}}" style="width: 50px;height: 50px;">
                    </div>
                </div>
        </div>
        <div class="row gx-2">
            <div class="col-sm-6 mb-3">
                <label class="form-label">Category</label>
                <select class="form-select dependent-drop" id="category_selection" name="category" required data-action="category">
                    {% for category in cat %}           
                    {% if data.category.category_name == category.category_name %}
                    <option selected value="{{ category.category_name }}"> {{ category.category_name }} </option> 
                    {% else %}
                    <option value="{{ category.category_name }}"> {{ category.category_name }} </option>
                    {% endif %}
                    {% endfor %}				
				</select>
            </div>
            <div class="col-sm-6 mb-3">

                <label class="form-label">Sub-category</label>
                <select class="form-select dependent-drop" name="subcategory" data-action="subcategory" required id="dependend-sub">
                    {% for sub_category in sub_cat %}
                    {% if sub_category.id == data.sub_category.id %}
                            <option selected value="{{sub_category.id}}"> {{sub_category.sub_category_name}} </option>
                            {% else %}
                            <option value="{{sub_category.id}}"> {{sub_category.sub_category_name}} </option>
                            {% endif %}
                        {% endfor %}
				</select>
            </div>
        </div>
        <!-- row.// -->
        <!-- <div class="mb-4 ">
					<label for="product_name " class="form-label ">Tags</label>
					<input type="text " class="form-control ">
				</div> -->

        <div class="row gx-2">
            <div class="col mb-3">
                <label class="form-label">Brand</label>
                <select class="form-select" id="dependent-brand" required name="brand">
                        {% for brand in brand %}
                        {% if brand.id == data.brand.id %}
                                <option selected value="{{brand.id}}">{{brand.brand_name}}</option>
                                {% else %}
                                <option  value="{{brand.id}}">{{brand.brand_name}}</option>
                                {% endif %}
                            {% endfor %}
					</select>
            </div>
            <div class=" mb-4 ">
                <div class="row gx-2 ">
                    <div class="col-sm-6 mb-3 ">
                        <label class="form-label ">Price</label>
                        <input placeholder="Type " type="text " class="form-control" value="{{data.price}}" required name="price ">
                    </div>
                    <div class="col-sm-6 mb-3 ">
                        <label class="form-label ">Unit</label>
                        <input placeholder="Type " type="number " class="form-control" value="{{data.unit}}" required name="units ">
                    </div>

                </div>
                <!-- row.// </div>

                <!-- <label class="form-check mb-4 ">
				  <input class="form-check-input " type="checkbox " value=" ">
				  <span class="form-check-label ">  Publish on website </span>
				</label> -->

                <button class="btn btn-primary ">Submit item</button>

                </form>
            </div>
        </div>
        <!-- card end// -->
        {% if messages %} {% for message in messages %} {% if message.tags == "success " %}
        <div class="alert alert-success ">{{ message }}</div>
        {% elif message.tags == "error " %}
        <div class="alert alert-danger ">{{ message }}</div>
        {% endif %} {% endfor %} {% endif %}

</section>
<!-- content-main end// -->
{% endblock %}