{% extends 'admin/dashboard.html' %} {% block content %}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Categories</h2>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form action="{% url 'coupon_edit' coupons.id %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Minimal Purchase rate</label>
                            <input type="text" placeholder="Type here" class="form-control" required name="minimal_rate" id="product_name" value="{{coupons.offer_name}}" />
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">offer amount</label>
                            <input type="text" placeholder="Type here" class="form-control" required name="coupon_percentage" id="product_slug" value="{{coupons.percentage}}" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Expiry Date</label>
                            <input type="date" placeholder="Expiry date" class="form-control" required name="Expiry_date" id="expiry_date" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Expiry Time</label>
                            <input type="time" placeholder="Expiry date" class="form-control" required name="Expiry_time" id="expiry_time" />
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary">Create Offer</button>
                        </div>
                    </form>
                    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
                    <div class="alert alert-success">{{ message }}</div>
                    {% elif message.tags == "error" %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% endif %} {% endfor %} {% endif %}
                </div>
            </div>
            <!-- .row // -->
        </div>
        <!-- card body .// -->
    </div>
    <!-- card .// -->
</section>
<!-- content-main end// -->
{% endblock %}