{% extends 'admin/dashboard.html' %} {% block content %}
<section class="content-main">

    <div class="content-header">
        <h2 class="content-title">Orders list</h2>

    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>

            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col"> </th>
                            <th scope="col">product details</th>
                            <th scope="col">quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th>change order status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders_data %}
                        <tr>
                            <td>NOR{{order.id}}</td>
                            <td>{{order.user_name.username}}</td>
                            <td><img src="{{order.products.image1.url}}" width="100px" height="100px" alt=""></td>
                            <td><b>{{order.products.product_name}}</b></td>
                            <td>{{order.quantity}}</td>
                            <td>{{order.total}}</td>
                            <td>{% if order.status == 'Cancelled' %}
                                <span class="badge rounded-pill alert-warning">{{order.status}}</span> {% elif order.status == 'delivered' %}
                                <span class="badge rounded-pill alert-success">{{order.status}}</span> {% else %}
                                <span class="badge rounded-pill alert-info">{{order.status}}</span> {% endif %}
                            </td>
                            <td>{{order.date}}</td>

                            <!-- dropdown //end -->
                            </td>

                            <td>
                                {%if order.status != 'userCancelled'%}
                                <select class="form-select status-change" data-id={{order.id}}>
                                    <option>  </option>
									<option>pending</option>
									<option>delivered</option>
									<option>Shipped</option>
									<option>Cancelled</option>
	
								</select> {%endif%}
                            </td>
                        </tr>
                        {% endfor %}
                        <div>
                    </tbody>
                </table>
                </div>
                <!-- table-responsive //end -->
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
</section>

<!-- conte
content-mnt-main end// -->
{% endblock %}