{% extends 'admin/dashboard.html' %} {% block content %}
<section class="content-main">

    <div class="content-header">
        <h2 class="content-title">Orders list</h2>
        <!-- <div>
            <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
        </div> -->
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-2 col-md-6 me-auto">

                    <input type="text" style="margin-top: 22px;" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-6 col-md-6 me-auto">
                    <form action="{% url 'report' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-5 col-6 col-md-3">
                                <b>FROM</b>
                                <input type="date" class="form-control" required name="from" onchange="fromdate(this)">
                            </div>
                            <div class="col-lg-5 col-6 col-md-3">
                                <b>TO</b>
                                <input type="date" class="form-control" required name="to">
                            </div>
                            <div class="col-lg-2 col-6 col-md-3 ">
                                <button class="btn bg-primary" style="margin-top: 22px;" type="submit">Search</button>
                            </div>

                        </div>
                    </form>

                </div>
                {% if from or to %}
                <div class="col-lg-2 col-md-6 me-auto">
                    <a href="{% url 'convertreport' from to %}"><i class="fa fa-file-pdf" style="font-size:40px;margin-top: 22px;color: red;"></i></a>
                    <a style="margin-top: 22px;" href="{% url 'convertreportcsv' from to %}"><i class="fas fa-file-csv" style="font-size:40px;margin-top: 22px; color:green;"></i></a>
                </div>
                {% endif %}
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">product details</th>
                            <th scope="col">quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders_data %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>NOR{{order.id}}</td>
                            <td>{{order.user_name.username}}</td>
                            <td><b>{{order.products.product_name}}</b></td>
                            <td>{{order.quantity}}</td>
                            <td>{{order.total}}</td>
                            <td>{{order.payment_method}}</td>
                            <td>{% if order.status == 'Cancelled' %}
                                <span class="badge rounded-pill alert-warning">{{order.status}}</span> {% elif order.status == 'delivered' %}
                                <span class="badge rounded-pill alert-success">{{order.status}}</span> {% else %}
                                <span class="badge rounded-pill alert-info">{{order.status}}</span> {% endif %}
                            </td>
                            <td>{{order.date}}</td>
                            <!-- <td class="text-end" hidden>
                                <a href="#" class="btn btn-light">submit</a>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i class="material-icons md-more_horiz"></i> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">order status</a>
                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                </div> -->
                            <!-- dropdown //end -->
                            </td>

                        </tr>
                        {% endfor %}
                        <div>
                    </tbody>
                </table>
                </div>
                <!-- table-responsive //end -->
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
</section>
<script>
    var today = new Date().toISOString().split('T')[0];
    document.getElementsByName("to")[0].setAttribute('max', today);

    function fromdate(h) {
        last_date = h.value
        alert(last_date)
        document.getElementsByName("to")[0].setAttribute('min', last_date)
    }
</script>
<!-- conte
content-mnt-main end// -->
{% endblock %}