{% extends 'user/login.html' %} {% load static %} {% block content %}
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">Cart Page </li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-main-area pt-115 pb-120">
    <div class="container-fluid">
        {% if totalproduct > 0 %}
        <h3 class="cart-page-title text-center pb-4" style="color: red;">Your cart items</h3>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table class="table-content table-responsive cart-table-content">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart in cart %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="{% url 'oneproduct' cart.products_id.id %}"><img src="{{cart.products_id.image1.url}}" alt="" width="100" height="100"></a>
                                    </td>
                                    <td class="product-name"><a href="{% url 'oneproduct' cart.products_id.id %}">{{cart.products_id.product_name}}</a></td>
                                    <td class="product-price-cart"><span class="amount">{% if cart.products_id.product_offer %}{{cart.products_id.product_offer_price}}{% else %}{{cart.products_id.price}}{% endif %}</span></td>
                                    <td class="product-quantity pro-details-quality">
                                        <div class="row">
                                            <div class="col-4 mycart" data-product_id={{cart.products_id.id}} data-action="remove">
                                                <button style="border: none;">-</button>
                                            </div>
                                            <div class="col-4">
                                                {{cart.quantity}}
                                            </div>
                                            <div class="col-4 mycart" data-product_id={{cart.products_id.id}} data-action="add">
                                                <button style="border: none;">+</button>
                                            </div>
                                        </div>
                                        <!-- <div class=" cart-plus-minus choose" data-product={{cart.products_id.id}} data-value1={{cart.quantity}}>
                                            <input class="cart-plus-minus-box one" type=" text" value=" {{cart.quantity}}">
                                        </div> -->
                                    </td>
                                    <td class="product-subtotal">${{cart.total}}</td>
                                    <td class="product-remove mycart" data-product_id={{cart.products_id.id}} data-action="delete">
                                        <button style="border: none;"><i class=" icon_close"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="{% url 'product' %}">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <button>Update Cart</button>
                                    <a href="#">Clear Cart</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </form>
            </div>
            <div class="col-lg-4 col-md-12">
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="discount-code-wrapper">
                        <div class="title-wrap">
                            <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                        </div>
                        <div class="discount-code">
                            <p>Enter your coupon code if you have one.</p>
                            <form>
                                <input type="text" required="" name="name">
                                <button class="cart-btn-2" type="submit">Apply Coupon</button>
                            </form>
                        </div>
                    </div>
                </div> -->
                <div class="mx-auto">
                    <div class="grand-totall">
                        <div class="title-wrap">
                            <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                        </div>
                        <h5>Total products <span>{{totalproduct}}</span></h5>
                        <!-- <div class="total-shipping">
                            <h5>Total shipping</h5>
                            <ul>
                                <li><input type="checkbox"> Standard <span>$20.00</span></li>
                                <li><input type="checkbox"> Express <span>$30.00</span></li>
                            </ul>
                        </div> -->
                        <h4 class="grand-totall-title">Grand Total <span>${{totalprice}}</span></h4>
                        <a href="{% url 'checkout' -1 %}">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <h4 style="color: red;">Your cart is empty</h4>
        </div>
        {% endif %} {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
        <div class="alert alert-success">{{ message }}</div>
        {% elif message.tags == "error" %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %} {% endfor %} {% endif %}
    </div>
</div>
{% endblock %}