{% extends 'user/login.html' %} {% load static %} {% block content %}

<div class="slider-area">
    <div class="hero-slider-active-1 nav-style-1 dot-style-2 dot-style-2-position-2 dot-style-2-active-black">
        <div class="single-hero-slider single-animation-wrap slider-height-2 custom-d-flex custom-align-item-center bg-img hm2-slider-bg res-white-overly-xs" style="background-image:url(static/images/slider/hm-4-slider-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-4 slider-animated-1">
                            <h4 class="animated">Lookbook</h4>
                            <h1 class="animated">Denim Mixed <br>Layering Combine <br>collect</h1>
                            <p class="animated">We love seeing how our Raifa wearers like to wear their Norda</p>
                            <div class="btn-style-1">
                                <a class="animated btn-1-padding-1" href="{% url 'product' %}">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-slider single-animation-wrap slider-height-2 custom-d-flex custom-align-item-center bg-img hm2-slider-bg res-white-overly-xs" style="background-image:url(static/images/slider/hm-4-slider-2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-4 slider-animated-1">
                            <h4 class="animated">Lookbook</h4>
                            <h1 class="animated">Denim Mixed <br>Layering Combine <br>collect</h1>
                            <p class="animated">We love seeing how our Raifa wearers like to wear their Norda</p>
                            <div class="btn-style-1">
                                <a class="animated btn-1-padding-1" href="{% url 'product' %}">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area">
    <div class="container">
        <div class="service-wrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-cursor"></i>
                        </div>
                        <div class="service-content">
                            <h3>Free Shipping</h3>
                            <span>Orders over $100</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-reload"></i>
                        </div>
                        <div class="service-content">
                            <h3>Free Returns</h3>
                            <span>Within 30 days</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-lock"></i>
                        </div>
                        <div class="service-content">
                            <h3>100% Secure</h3>
                            <span>Payment Online</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-tag"></i>
                        </div>
                        <div class="service-content">
                            <h3>Best Price</h3>
                            <span>Guaranteed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-area pt-85">
    <div class="container">
        <div class="border-bottom-1 about-content-pb">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="about-us-logo">
                        <img src="{% static 'images/about/logo.png' %}" alt="logo">
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="about-us-content">
                        <h3>Introduce</h3>
                        <p>Norda store is a business concept is to offer fashion and quality at the best price. It has since it was founded in 2018 grown into one of the best WooCommerce Fashion Theme. The content of this site is copyright-protected and
                            is the property of David Moye Creative.</p>
                        <div class="signature">
                            <h2>David Moye</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area section-padding-1 pt-115 pb-75">
    <div class="container">
        <div class="section-title-tab-wrap mb-45">
            <div class="section-title">
                <h2>Featured Products</h2>
            </div>
            <div class="tab-style-1 nav">
                <a class="active" href="#product-1" data-bs-toggle="tab">Tshirts</a>
                <a href="#product-2" data-bs-toggle="tab">jackets</a>
                <a href="#product-3" data-bs-toggle="tab">shrits</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="tab-content jump">
            <div id="product-1" class="tab-pane active">
                <div class="row">

                    {% for product in products %} {% if product.sub_category.sub_category_name == 'tshirts' %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-product-wrap mb-35">
                            <div class="product-img product-img-zoom mb-20">
                                <a href="{% url 'oneproduct' product.id %}">
                                    <img src="{{product.image1.url}}" style="height: 300px;" alt="">
                                </a>
                                <!-- <span class="pro-badge left bg-black">O</span> -->
                                <div class="product-action-wrap">
                                    {% if product.unit > 0 %}
                                    <div class="product-action-left">
                                        <a href="{% url 'oneproduct' product.id %}" class="btn bg-black text-white" title="Buy now">Buy Now</a>
                                    </div>
                                    <div class="product-action-right tooltip-style">
                                        <div class="mycart" data-product_id={{product.id}} data-action="add">
                                            <button title="Add to cart"><i class="icon-basket"></i></button>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="product-action-left">
                                        <button style="background-color: black; color: white; padding: 5px;" disabled title="out of stock">Out of stock</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-content-left">
                                    <h4><a href="{% url 'oneproduct' product.id %}">{{product.product_name}}</a></h4>
                                    <div class="product-price">
                                        <span>${{ product.price }}</span>
                                    </div>
                                </div>
                                <div class="product-content-right tooltip-style">
                                    <button class="font-inc"><i class="icon-heart"></i><span>Wishlist</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                </div>
            </div>
            <div id="product-2" class="tab-pane">
                <div class="row">



                    {% for products in products %} {% if products.sub_category.sub_category_name == 'jackets' %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-product-wrap mb-35">
                            <div class="product-img product-img-zoom mb-20">
                                <a href="{% url 'oneproduct' products.id %}">
                                    <img src="{{products.image1.url}}" style="height: 300px;" alt="">
                                </a>
                                <!-- <span class="pro-badge left bg-black">O</span> -->
                                <div class="product-action-wrap">
                                    {% if products.unit > 0 %}
                                    <div class="product-action-left">
                                        <a href="{% url 'oneproduct' products.id %}" class="btn bg-black text-white" title="Buy now">Buy Now</a>
                                    </div>
                                    <div class="product-action-right tooltip-style">
                                        <div class="mycart" data-product_id={{product.id}} data-action="add">
                                            <button title="Add to cart"><i class="icon-basket"></i></button>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="product-action-left">
                                        <button style="background-color: black; color: white; padding: 5px;" disabled title="out of stock">Out of stock</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-content-left">
                                    <h4><a href="{% url 'oneproduct' products.id %}">{{ products.product_name }}</a></h4>
                                    <div class="product-price">
                                        <span>${{ products.price }}</span>
                                    </div>
                                </div>
                                <div class="product-content-right tooltip-style">
                                    <button class="font-inc"><i class="icon-heart"></i><span>Wishlist</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %} {% endfor %}

                </div>
            </div>
            <div id="product-3" class="tab-pane">
                <div class="row">

                    {% for products in products %} {% if products.sub_category.sub_category_name == 'shirts' %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-product-wrap mb-35">
                            <div class="product-img product-img-zoom mb-20">
                                <a href="{% url 'oneproduct' products.id %}">
                                    <img src="{{products.image1.url}}" style="height: 300px;" alt="">
                                </a>
                                <!-- <span class="pro-badge left bg-black">O</span> -->
                                <div class="product-action-wrap">
                                    {% if products.unit > 0 %}
                                    <div class="product-action-left">
                                        <a href="{% url 'oneproduct' products.id %}" class="btn bg-black text-white" title="Buy now">Buy Now</a>
                                    </div>
                                    <div class="product-action-right tooltip-style">
                                        <div class="mycart" data-product_id={{product.id}} data-action="add">
                                            <button title="Add to cart"><i class="icon-basket"></i></button>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="product-action-left">
                                        <button style="background-color: black; color: white; padding: 5px;" disabled title="out of stock">Out of stock</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-content-left">
                                    <h4><a href="{% url 'oneproduct' products.id %}">{{ products.product_name }}</a></h4>
                                    <div class="product-price">
                                        <span>${{ products.price }}</span>
                                    </div>
                                </div>
                                <div class="product-content-right tooltip-style">
                                    <button class="font-inc"><i class="icon-heart"></i><span>Wishlist</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}